.product-about__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
	
.product-about__text {
    padding-top: 56px;
    padding-left: 160px;
    padding-bottom: 53px;
}

.product-about__text h2 {
    margin-bottom: 6px;
    color: #201616;
    font-size: 24px;
    font-weight: 600;
    font-family: Karla,sans-serif;
}

.product-about__text p {
    color: #201616;
    padding-bottom: 0;
    font-size: 16px;
    font-weight: 300;
    font-family: Karla,sans-serif;
}

.product-about__time {
    background: #F7E2FF;
    margin-top: 16px;
    border-radius: 8px;
    margin-bottom: 56px;
    padding: 16px 24px;
    width: 50%;
}

.product-about__time p {
    font-size: 20px;
    color: #201616;
    font-weight: 600;
    padding-bottom: 0;
    font-family: Karla,sans-serif;
}

.product-about__text ul {
    padding: 24px;
    margin: 0;
    margin-top: 10px;
    border-radius: 8px;
    background-color: #F7E2FF;
}

.product-about__text ul li {
    margin-bottom: 8px;
    color: #201616;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    line-height: 28px;
    font-family: Karla,sans-serif;
}

.product-about__text ul li:last-child {
    margin-bottom: 0;
}

.product-about__text ul li span {
    font-weight: 600;
}

.product-about__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-about-container__btn {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    bottom: 12%;
}

a.product-about__btn {
    padding: 8px 40px;
    text-decoration: none;
    color: #fff;
    border-radius: 8px;
}

@media (min-width: 0px) and (max-width: 600px) {
  .product-about__grid {
    grid-template-columns: 100%;
    gap: 0;
  }

  .product-about__text {
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .product-about__time {
    padding: 16px;
    width: 67%;
    margin-bottom: 40px;
  }

  .faqs-list__item span:before {
    font-size: 14px!important;
  }

  .faqs-item__title {
    font-size: 14px!important;
  }

  .collapsible {
    align-items: flex-start;
  }
}
