.card-wrapper.underline-links-hover {
    padding-right: 20%;
    padding-left: 20%;
}

a.card__cta {
    padding: 6px 23px;
    border-radius: 8px;
    text-decoration: none;
}


li.grid__item.collection__content {
    padding-bottom: 5rem;
}

a.card__cta {
    position: initial;
    padding: 6px 15px;
    border-radius: 8px;
    text-decoration: none;
}

@media (min-width: 0px) and (max-width: 600px) { 

a.card__cta {
    position: initial;
    padding: 6px 15px;
    border-radius: 8px;
    text-decoration: none;
}

p.card__heading--content {
    line-height: 25px;
}

}