.page-width.page-width--narrow.page-terms {
  text-align: justify;
  padding: 40px;
  background: #F9F9F9;
  border-radius: 8px;
  margin-bottom: 2em;
}

.page-title {
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  margin-top: 2rem;
  margin-bottom: 32px;
}

p {
  font-weight: 300;
  line-height: normal;
  font-size: 24px;
  color: #201616;
}

@media (min-width: 0px) and (max-width: 600px) {
  .page-title {
    font-size: 24px;
  }
  
  p {
    font-size: 16px;
  }
}