.page__hero__content {
    max-height: 100vh;
}

.page__hero__content--row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.page__hero__content--column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    flex-wrap: wrap;
    align-content: revert;
    justify-content: center;
    padding: 0 6rem;
}

.page__hero__content--column-full {
    display: flex;
    justify-content: center;
    flex: 1;
    flex-wrap: nowrap;
    align-content: flex-start;
    padding: 30px
}

@media (max-width: 575.98px) {
    .page__hero__content--column-full {
        padding: 0px;
    }
}

.page__hero__content--image {
    display: flex;
    justify-content: flex-end;
}

.page__hero__content--image img {
    width: fit-content;
    height: fit-content;

}

.page-width.page__hero__container {
    padding: 7rem 7rem;
}

h3.page__hero--title {
    font-size: 5rem;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
}

.page__hero__content--text {
    width: 60%;
}

.page__hero__content--text h3 {
    display: inline-block;
}

.page__hero__content--icono {
    display: inline-block;
}

.page__hero__content--icono {
    display: inline-block;
    width: 48px;
    position: relative;
    height: auto;
    object-fit: contain;
    margin-top: 12px;
}

.page__hero__flex {
    display: flex;
    align-items: flex-start;
}

.page__hero__content--text p {
    font-size: 2rem;
}

a.page__hero-btn {
    padding: 15px 40px;
    border-radius: 8px;
    text-decoration: none;
    color:#fff;
}

.page__hero__content--column-full span {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;
    background: #FFFFFF;
    border-radius: 40px;
    margin-right: 2rem;
    font-weight: 700;
    
}



@media (max-width: 575.98px) {

    .page__hero__content--row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        padding: 3rem 0;
    }

    .page__hero__content--column {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        padding: 0 3rem;
    }

    .page-width.page__hero__container {
        padding: 0;
    }

    .page__hero__content--icono {
        width: 80px;
        position: relative;
        height: 80px;
        top: 0;
        left: 0;
    }

    .page__hero__content--text h3 {
        width: fit-content;
        display: inline-block;
    }


    .page__hero__content--text {
        width: 100%;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
}


@media (min-width: 575.98px) and (max-width: 767.98px) {
    .page__hero__content--text h3 {
        width: fit-content;
        display: inline-block;
    }

    .page__hero__content--column {
        align-content: revert;
        justify-content: center;
        padding: 0 2rem;
    }

    .page__hero__content--text {
        width: 100%;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .page__hero__content--icono {
        width: 60px;
        position: relative;
        height: 60px;
        top: 0;
        left: 0;
    }
}

@media (min-width: 767.99px) and (max-width: 991.98px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .page__hero__content--icono {
        width: 60px;
        position: relative;
        height: 60px;
        top: 5rem;
        left: 10rem;
    }

    .page__hero__content--text {
        width: 100%;
    }

    .page__hero__content--column {
        padding: 0 2rem;
    }
}

@media (min-width: 991.99px) and (max-width: 1199.98px) {
    .desktop {
        display: inline-block;
    }

    .mobile {
        display: none;
    }

    .page__hero__content--text {
        width: 100%;
    }
}


@media (min-width: 1199.98px) and (max-width: 1357px) {
    .page__hero__content--text {
        width: 75%;
    }

    .desktop {
        display: inline-block;
    }

    .mobile {
        display: none;
    }

    .page__hero__content--icono {
        width: 80px;
        position: relative;
        height: 80px;
        top: -4rem;
        left: -5rem;
    }
}

@media (min-width: 1358px) {
    .desktop {
        display: inline-block;
    }

    .mobile {
        display: none;
    }
}